<%- content_for :sidebar do -%>
	<h4>New Contest</h4>
	<p>Use the form below to run a new Contest. Fields marked
	with * are required.</p>
	<form action="<%= create_contest_path %>" method='post'>
		<div class="control-group">
			<label for="name">Contest Name *</label>
			<div class="controls">
				<input type="text" class="text_field" id="name" class="name" required/>
			</div>
		</div>
		<div class="control-group">
			<label for="name">Type *</label>
			<div class="controls">
				<select id="product_id" name="product_id" required>
					<option>Any Product</option>
					<optgroup label="Specific Product">
						<option >Product A</option>
						<option>Product B</option>
					</optgroup>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label for="name">Order Date Range (optional)</label>
			<div class="controls">
				<input type="text" class="text_field" id="start_date" name="start_date"/> to
				<input type="text" class="text_field" id="end_date" name="end_date"/>
			</div>
		</div>
		<div class="control-group">
			<label for="name">Max # (optional)</label>
			<div class="controls">
				<input type="text" class="text_field" id="max_results" name="max_results"/>
			</div>
		</div>
		<div class="control-group">
			<label for="name">Order (optional)</label>
			<div class="controls">
				<input type="text" class="text_field" id="order_id" name="order_id"/>
			</div>
		</div>
		<div class="form-actions">
			<input type="submit" value="Submit" class="btn"/>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")), dashboard_index_path , :class => 'btn' %>
		</div>
	</form>
<%- end -%>
<h1>Contests</h1>
<table class="table table-striped">
  <thead>
    <tr>
		<th>Name</th>
		<th>Criteria</th>
		<th>Winner</th>
		<th>Date</th>
	</tr>
  </thead>
  <tbody>
    <tr>
		<td>Customer Appreciation Giveaway</td>
		<td>Purchase made within last 30 days</td>
		<td>Order #1010, John Doe</td>
		<td>October 22, 2013</td>
	</tr>
  </tbody>
</table>
2.	 Next, we'll copy the